@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	user-select: none !important;
}

body::-webkit-scrollbar {
	display: none;
}

.z-100 {
	z-index: 100;
}

.hide-scrollbar::-webkit-scrollbar {
	display: none;
}

.pointer-events-none * {
	pointer-events: none !important;
}
